.editor {
    font-size: 32px;
    height: 100%;
}

.editor>div {
    height: 100%;
}

.editor>div>div {
    height: 100%;
}

.editor .cm-focused {
    outline: none;
}

.editor .cm-editor {
    background-color: transparent;
}

.editor .cm-content {
    overflow-x: auto;
    flex-shrink: 1;
}