@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

body {
  margin: 0;

  height: 100vh;

  font-family: "Rubik", sans-serif;
  font-style: normal;

  overflow: hidden;
}

body, * {
  box-sizing: border-box;
}

#root {
  height: 100%;
}